flask
Werkzeug
jinja2
pymongo
requests
beautifulsoup4
readability-lxml
lxml
google-api-python-client
pdfplumber
pytesseract
Pillow
opencv-python
numpy
ollama
charset-normalizer
certifi
idna
urllib3
soupsieve
trio
trio-websocket
wsproto
pypdfium2
importlib-metadata
cryptography
decorator
packaging
pyproject_hooks
sniffio
exceptiongroup
attrs
outcome
sortedcontainers
asyncio
pycparser
cffi
python-docx
Flask-Session 
flask-cloudflared